body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(71, 71, 71);
    color: white;
}

#loginForm {
    background: white;
    padding: 20px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    color: black;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}

.login-teste {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
}

#message {
    color: red;
    margin-top: 10px;
}
header {
    background-color: rgb(48, 48, 48);
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.titulo {
    text-align: left;
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.dashboard-teste {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.dashboard-teste2 {
    transition: ease 0.2s;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    width: auto;
}

.dashboard-teste2:hover {
    transition: ease 0.3s;
    background-color: rgb(19, 19, 19);
    scale: 1.1;
}

#tabContent {
    margin-top: 10px;
}


/* Vai mudar o tamanho da fonte nessa resolução para baixo, para que os botões caibam em fila */
                                                                                            
@media(max-width: 800px){                                                                    
.dashboard-teste2{                      
        font-size: 11px;
    }
}
