/* fonte de texto, nao mexa */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    font-family: "Poppins";

}

body, main{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
}

li, a, button {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

#dashboard, #configuracoes {
    display: none;
}

header{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(22, 22, 22);
}

.logotipo {
    transition: font-size 0.3s ease;
    color: white;
    font-size: 38px;
    font-weight: bold;;
    text-shadow: 0 0 20px rgba(245, 245, 245, 0.799);
}

#logo {
    width: 30%;
}

#logo .fa-home{ /* Icone Casa*/
    font-size: 105%;

}
/* todos os links da navbar*/
.nav-links {
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

#resto-nav{
    display: inline-flex;
    width: 50%;
    justify-content: center;
}

.nav-links li{
    transition: ease-in 0.4s;
    display: inline-block;
    padding: 0 30px;
}

.nav-links li a{
    display: inline-flex;
    transition: letter-spacing 0.3s ease, color 0.6s ease, scale 0.3s ease;
}

.nav-links li a:hover {
    transition: ease 0.2s;
    color: rgb(255, 231, 200);
    letter-spacing: 1.5px;
    scale: 1.05;
}

#botaoDoLogin {
    display: flex;
    width: 30%;
    justify-content: flex-end;

}



/* botoes, talvez depois adicionar uma classe apenas para o login */
.loginButton {
    transition: color ease-in 0.3s, background-color ease 0.6s, scale ease-in 0.25s, padding ease-in 0.25s, text-shadow ease-in 0.2s, box-shadow ease-in 0.3s;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    background-color: rgb(214, 175, 103);
    color: black;
    cursor: pointer;
    font-family: "Poppins";
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

/* animação de passada de mouse no botao e login */
.loginButton:hover {
    transition: color ease 0.3s, background-color ease 0.3s, scale ease-in-out 0.2s, text-shadow ease-in 0.3s, box-shadow ease-in 0.3s;
    color: whitesmoke;
    text-shadow: 0px 0px 10px whitesmoke;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.301);
    background-color: rgb(84, 153, 199);
    scale: 1.05;
}

/* GABRIEL MEXEU AQUI */

#messageLogin, #messageCadastro {
    color: red;
    margin-top: 10px;
    font-size: 18px;
    margin-top: 20px;
 }
.modal-login, .modal-cadastro {
    animation: normal backdropAnim 2s cubic-bezier(0.215, 0.610, 0.355, 1);
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    }

    .modal-content-login {
    background-color: rgb(59, 59, 59);
    position: relative;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    min-width: 300px;
    will-change: opacity, transform;
    animation: fadeIn 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    
    }


    .modal-content-cadastro {
        background-color: rgb(59, 59, 59);
        position: center;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        text-align: center;
        min-width: 300px;
        will-change: opacity, transform;
        animation: fadeIn 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        width: 500px;
        }

/* .modal-content.closing {
  animation: popupOut 0.4s ease-in forwards;
} */

    .modal-content-cadastro h2, .modal-content-login h2 {
    font-size: 32px;
    margin-top: 0;
    color: white;
    }

    .modal-content-login input,.modal-content-cadastro input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.377);
    }

    .cadastro {
        color: white;
    }

    #cadastro-link {
    cursor: pointer;
    }

    .entrarButton button{
    transition: transform 0.3s ease-out;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 22px;
    }

    .entrarButton button:hover {
    transition: transform 0.3s ease-out;
    background-color: rgb(54, 54, 54);
    transform: scale(1.1);
    }

/* Agora essa bosta vai ficar no lugar certo, perdi 30 minutos arrumando - Gustavo */
.close, .closeCadastro, .closeModalExcluir{
    position: absolute;
    top: 22px;
    right: 22px;
    color: #c2c2c2;
    font-size: 32px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 28px;
}

.close:hover, .closeCadastro:hover, .closeModalExcluir:hover{
    color: rgb(255, 255, 255);
}

/* Gustavo aqui, o nome do cadastro estava errado no css e não tava aplicando o estilo, link ficava invisivel */
.cadastro {
    font-size: 17px;
}
.cadastro a{ 
    transition: color 0.3s ease;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    color: rgb(214, 175, 103);
}
.cadastro a:hover{
    transition: color 0.3s ease;
    color: rgb(84, 151, 199);
}


/* sistema de home e cards */

.container-home{
    animation: normal fadeIn 0.7s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pagina-centro{
    width: 90%;
    height: fit-content;
    background-color: rgb(214, 175, 103);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    padding: 15px;
    gap: 15px;
}

.pagina-filtro{
    width: 95%;
    height: 70px;
    background-color: rgb(214, 175, 103);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 30px auto;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

.pagina-filtro input{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.541);
    width: 40%;
    height: 45px;
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: white;
}
.pagina-filtro input::placeholder{
    font-size: 16px;
}

.card{
    transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), box-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 15px;
    background-color: rgb(41, 41, 41);
    height: 400px;
    width: 250px;
    color: white;
    flex-wrap: wrap;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.87);
    font-family: "Poppins";
    padding: 10px 10px;
    margin: 0;
    text-overflow: ellipsis;
}
.card img{
    border-radius: 5px;
    border: none;
}

.card:hover{
    transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), box-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.105);
}

.conteudo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

}
.conteudo-card span{
    font-size: 20px;
    margin-top: 15px;
}

.conteudo-card p{
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
}

.conteudo-card button{
    transition: transform 0.2s cubic-bezier(0.215, 0.610, 0.355, 1), box-shadow 0.7s cubic-bezier(0.215, 0.610, 0.355, 1), background-color 0.7s cubic-bezier(0.215, 0.610, 0.355, 1), color 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
    border: none; 
    border-radius: 15px;
    margin: 20px;
    padding: 10px 20px;
    background-color: rgb(214, 175, 103);
    color: black;
    box-shadow: 0 0 10px rgba(245, 222, 179, 0.384);
    cursor: pointer;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
}

.conteudo-card button:hover {
    transition: transform 0.2s cubic-bezier(0.215, 0.610, 0.355, 1), box-shadow 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), background-color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), color 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.664);
    background-color: rgb(231, 191, 105);
    color: white;
    transform: scale(1.02);
}

.conteudo-card img{
    width: 200px;
    height: 140px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.644);
}

/* modal dos cards */

#modal-card{
    animation: normal fadeIn 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    padding: 40px;
    width: 65%;
    border: none;
    border-radius: 20px;
    background-color: rgb(41, 41, 41);
}

#modal-card::backdrop{
    animation: normal backdropAnim 2s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}

#box-modal-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#modal-card-cima {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.616);
    background-color: #3a3a3a;
    border-radius: 30px;
}

#modal-imagem-card{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#modal-imagem-card span{
    text-align: center;
    align-self: center;
    font-weight: bold;
    width: 99.4%;
    font-size: 26px;
    border-radius: 0 0 30px 30px;
    background-color: rgb(214, 175, 103);
}

#modal-imagem-card img{
    width: 400px;
    height: 100%;
    border-radius: 20px 20px 0 0;
    margin: 1px;
}

#modal-titulo-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    color: white;
}

#modal-titulo-card h1{
    font-size: 20px;
    line-height: 35px;
}
#modal-titulo-card p{
    padding-left: 30px;
    font-size: 18px;
    margin-top: 0;
    text-align: start;
}

#modal-informacoes-card p{
    margin: 0;
    font-size: 14px;
    text-align: start;
    text-justify: end;
    margin-top: 0;
    opacity: 0.85;
}

#modal-descricao-card{
    justify-content: flex-start;
    align-items: flex-end;
    text-align: start;
    height: 50%;
    width: 100%;
    background-color: #3a3a3a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
    border-radius: 10px 10px 20px 20px;
}
#modal-descricao-card p {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}




/* modal dos cards */


@keyframes backdropAnim {
    from {
        background-color: none;
        backdrop-filter: blur(0px);
    }
    to{
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(5px);
    }
}


/* sistema de home e cards */

/* sistema do perfil */

#container-perfil{
    animation: normal fadeIn 1.0s cubic-bezier(0.215, 0.610, 0.355, 1);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#perfil {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 100%;
    background-color: rgb(70, 70, 70);
    border: none;
    border-radius: 20px;
}

#perfil-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 80%;
    background-color: rgb(59, 59, 59);
    min-height: 300px;  
    border: none;
    border-radius: 30px;
    overflow: hidden;
}

#perfil-dados{
    align-self: center;
    justify-content: space-between;
    width: 100%;
    font-size: 22px;
    margin-left: 20px;
    line-height: 55px;
}

#perfil-botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    text-align: center;
    margin: 30px;
}
#perfil-botoes2 {
    display: flex;
    align-items: center;
    align-items: center;
    margin-top: 35px;
    flex-direction: column;
}
#perfil-botoes2 button{
    transition: background-color 0.3s ease, scale 0.3s ease;
    padding: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.botaoAddCasa{
    background-color: rgb(214, 175, 103);
}

 .excluirConta{
    transition: background-color 0.3s ease, scale 0.3s ease;
    background-color: rgb(210, 9, 9);
    padding: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.modalContentExcluir {
    background-color: rgb(59, 59, 59);
}

#perfil-botoes2 button:hover{
    transition: filter 0.3s ease, scale 0.3s ease;
    filter: brightness(110%);
    scale: 1.01;
}

#perfil-botoes button{
    transition: filter 0.3s ease;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 25px;
}
#perfil-botoes button:hover{
    transition: filter 0.3s ease;
    filter: brightness(140%);

}
.botaoSair {
    background: rgb(255, 71, 71);
}

.titlePerfil{
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: white;
}

/* parte de adicionar casa */

#addCasaContainer {
    animation: trocarAba 1s ease;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
#addCasaSpan {
    color: white;
    text-shadow: 0 0 10px white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    height: fit-content;
}

#addCasaBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: auto;
    background-color: rgb(59, 59, 59);
    border: none;
    border-radius: 20px;
    padding: 20px;
}

#boxInputs {
    display: flex;
    background: rgb(70, 70, 70);
    border: none;
    border-radius: 30px;
    width: 50%;
    height: auto;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.addCasaInputs, .addCasaInputs-desc{
    color: white;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addCasaInputs-desc textarea{
    border-radius: 20px;
    border: 2px solid white;
    width: 300px;
    height: 80px;
    font-size: 16px;
    padding: 15px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: white;
    resize: none;
    color: black;
}
#casaCaracteristicas{
    border-radius: 20px;
    border: 2px solid white;
    width: 300px;
    height: 60px;
    font-size: 16px;
    padding: 15px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: white;
    resize: none;
    color: black;
}

.addCasaInputs input{
    border: none;
    border-radius: 20px;
    padding: 10px;
}

/* botao de voltar para tras */

#menuCasaVoltar{
    transition: transform 0.4s ease, filter 0.4s ease;
    display: flex;
    background-color: rgb(70, 70, 70);
    border: none;
    border-radius: 25px;
    padding: 3px 7px;
}

#menuCasaVoltar:hover{
    transition: transform 0.4s ease, filter 0.4s ease;
    transform: scale(0.98);
    filter: brightness(140%);
}




/* Animação (Gustavo - Mudei a animação e tentei deixar ela mais leve) */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.90) translateY(-40px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

@keyframes trocarAba {
    from {
        opacity: 0;
        transform: scaleX(0.8) translateY(-30px);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes inputActive {
    0% {transform: rotateZ(0deg) scale(1);}
    25% {transform: rotateZ(0.5deg) scale(1);}
    50% {transform: rotateZ(-0.5deg) scale(1);}
    75% {transform: rotateZ(0deg) scale(0.99);}
    100% {transform: rotateZ(0deg) scale(1);}
}

/* Responsividade em diferentes resoluções */

@media (max-width: 1200px) {
    .nav-links li{
        padding: 0px 10px;
    }
    .logotipo {
        font-size: 28px;
    }
    .modal-content input {
        font-size: 15px;
    }
}

@media (max-width: 940px) {
    .logotipo {
        font-size: 23px;
    }
    li, a, button{ 
        font-size: 18px;
    }
    .cadastro { 
        font-size: 15px;
    }
    .cadastro a{ 
        font-size: 14px;
    }
    .loginButton {
        padding: 20px 30px;
    }
    .modal-content input {
        font-size: 12px;
    }
    .fa-home{ /* Icone Casa*/
    font-size: 30px;
}
}

@media (max-width: 600px) {
    .logotipo {
        font-size: 12px;
    }
    li, a, button{ 
        font-size: 8px;
    }
    .loginButton {
    padding: 20px 25px;
    }
    .card {
        width: 100%;
    }
}

/* PS: Gustavo aqui, eu organizei o css de novo, mudei algumas coisas que estavam fazendo com que quebrasse o visual do site e o X não aparecer :) */

.modalContentExcluir {
    background-color: rgb(59, 59, 59);
    color: white;
    position: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    min-width: 300px;
    will-change: opacity, transform;
    animation: fadeIn 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    width: 500px;
    }


.modalExcluirConta {
    animation: normal backdropAnim 2s cubic-bezier(0.215, 0.610, 0.355, 1);
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    }


.canceleButtonExcluir {
    transition: color ease-in 0.3s, background-color ease 0.6s, scale ease-in 0.25s, padding ease-in 0.25s, text-shadow ease-in 0.2s, box-shadow ease-in 0.3s;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    background-color: rgb(246, 255, 127);
    color: black;
    cursor: pointer;
    font-family: "Poppins";
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.361);
 }

 .confirmaButtonExcluir {
    transition: color ease-in 0.3s, background-color ease 0.6s, scale ease-in 0.25s, padding ease-in 0.25s, text-shadow ease-in 0.2s, box-shadow ease-in 0.3s;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    background-color: rgb(255, 41, 41);
    color: black;
    cursor: pointer;
    font-family: "Poppins";
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.361);
 }
